<font color='green'>**IMPORT LIBRARIES**</font>

In [0]:
import pandas as pd
import numpy as np
import ast

<font color='green'>**LOAD DATASET AND CONVERT TO CSV**</font>

In [0]:
with open('Toys_and_Games_5.json', 'rb') as f:
    data = f.readlines()
    
data = map(lambda x: x.rstrip(), data)
df = pd.DataFrame()
for r in data:
    r = eval(r)
    s  = pd.Series(r,index=r.keys())
    df = df.append(s,ignore_index=True)
df.to_csv('Toys_and_Games.csv', index=False)

In [0]:
df = pd.read_csv('Toys_and_Games.csv')
df.head(3)

         asin  ... unixReviewTime
0  0439893577  ...   1.390954e+09
1  0439893577  ...   1.395965e+09
2  0439893577  ...   1.359331e+09

[3 rows x 9 columns]