In [0]:
########################################################################################################
# IMPORT LIBRARIES
########################################################################################################
import pandas as pd
import numpy as np

In [0]:
########################################################################################################
# Read dataset obtained from previous step where semantic scores are calculated
########################################################################################################
toyData=pd.read_csv("Toys_and_Games.csv")

In [3]:
toyData.head(3)

        asin helpful  ...  lex_diversity normalized_Flesch_Index
0  439893577  [1, 1]  ...       1.000000                0.002016
1  439893577  [1, 1]  ...       0.684211                0.011906
2  439893577  [0, 0]  ...       0.741935                0.003141

[3 rows x 15 columns]

In [4]:
########################################################################################################
# Check minimum and maximum values of 'polarity_score'
########################################################################################################
print(toyData['polarity_score'].min())

-0.75

In [5]:
print(toyData['polarity_score'].max())

1.0

In [0]:
########################################################################################################
# Since minimum and maximum value of 'polarity_score' are not 0 and 1 respectively, the 'polarity_score'
# needs to be computed in normalized format. Thus, we will perform following steps of normalization on it.
########################################################################################################

In [0]:
########################################################################################################
# Add new column 'normalized_polarity' to dataframe
########################################################################################################
toyData['normalized_polarity']=0

In [0]:
length=len(toyData)
minIndex=toyData['polarity_score'].min()
maxIndex=toyData['polarity_score'].max()
for i in range(length):
  index=toyData.iloc[i,9]
  normalizedIndex=(index-minIndex)/(maxIndex-minIndex)
  toyData.iloc[i,15]=normalizedIndex

In [9]:
toyData.head(3)

        asin helpful  ...  normalized_Flesch_Index normalized_polarity
0  439893577  [1, 1]  ...                 0.002016            0.676190
1  439893577  [1, 1]  ...                 0.011906            0.619048
2  439893577  [0, 0]  ...                 0.003141            0.571429

[3 rows x 16 columns]

In [0]:
########################################################################################################
# Save dataframe into same csv file so that new column will be added to it and can be used for further references
########################################################################################################
toyData.to_csv('Toys_and_Games.csv',index=False)

In [12]:
########################################################################################################
# Check if all required columns are added to csv file
########################################################################################################
df=pd.read_csv('Toys_and_Games.csv')
df.head(3)

        asin helpful  ... normalized_Flesch_Index normalized_polarity
0  439893577  [1, 1]  ...                0.002016            0.676190
1  439893577  [1, 1]  ...                0.011906            0.619048
2  439893577  [0, 0]  ...                0.003141            0.571429

[3 rows x 16 columns]