In [0]:
########################################################################################################
# IMPORT LIBRARIES
########################################################################################################
import pandas as pd
import numpy as np

In [2]:
########################################################################################################
# Read dataset obtained from previous step where semantic scores are calculated
########################################################################################################
toyData=pd.read_csv('Toys_and_Games.csv');

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
toyData.head(3)

        asin helpful  ... normalized_Flesch_Index normalized_polarity
0  439893577  [1, 1]  ...                0.002016            0.685185
1  439893577  [1, 1]  ...                0.011906            0.629630
2  439893577  [0, 0]  ...                0.003141            0.583333

[3 rows x 16 columns]

In [4]:
########################################################################################################
# Check minimum and maximum values of 'entropy_score'
########################################################################################################
print(toyData['entropy_score'].min())

0.4970986460348162

In [5]:
print(toyData['entropy_score'].max())

8.543804345405345

In [0]:
########################################################################################################
# Since minimum and maximum value of 'entropy_score' are not 0 and 1 respectively, the 'entropy_score'
# needs to be computed in normalized format. Thus, we will perform following steps of normalization on it.
########################################################################################################

In [0]:
########################################################################################################
# Add new column 'entropy_score' to dataframe
########################################################################################################
toyData['normalized_entropy_score']=0

In [0]:
length=len(toyData)
minIndex=toyData['entropy_score'].min()
maxIndex=toyData['entropy_score'].max()
for i in range(length):
  index=toyData.iloc[i,10]
  normalizedIndex=(index-minIndex)/(maxIndex-minIndex)
  toyData.iloc[i,16]=normalizedIndex

In [9]:
toyData.head(3)

        asin helpful  ... normalized_polarity normalized_entropy_score
0  439893577  [1, 1]  ...            0.685185                 0.492417
1  439893577  [1, 1]  ...            0.629630                 0.621443
2  439893577  [0, 0]  ...            0.583333                 0.483709

[3 rows x 17 columns]

In [0]:
########################################################################################################
# Save dataframe into same csv file so that new column will be added to it and can be used for further references
########################################################################################################
toyData.to_csv('Toys_and_Games.csv',index=False)

In [11]:
########################################################################################################
# Check if all required columns are added to csv file
########################################################################################################
df=pd.read_csv('Toys_and_Games.csv')
df.head(3)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        asin helpful  ... normalized_polarity normalized_entropy_score
0  439893577  [1, 1]  ...            0.685185                 0.492417
1  439893577  [1, 1]  ...            0.629630                 0.621443
2  439893577  [0, 0]  ...            0.583333                 0.483709

[3 rows x 17 columns]