In [1]:
import pandas as pd
import string

In [2]:
# Read Toys_and_Games.csv file and display records

data = pd.read_csv('Toys_and_Games.csv')

In [3]:
# Drop 'reviewerName','summary','unixReviewTime' columns

data.drop(columns=['reviewerName','summary','unixReviewTime'],inplace=True)

In [4]:
# I. Handeling NAN (null) values

# Check for null values in 'overall' column

data['overall'].isna().any()

False

In [5]:
# Check for null values in 'reviewText' column

data['reviewText'].isna().any()

True

In [6]:
# Print unique values present in 'overall' column

unique_ratings = data['overall'].unique()
print (sorted(unique_ratings))

[1.0, 2.0, 3.0, 4.0, 5.0]

In [7]:
null_reviewText = data[data['reviewText'].isna()]

In [8]:
null_reviewText.head(5)

            asin  helpful  overall reviewText   reviewTime      reviewerID
2339  8499000606   [0, 0]      5.0        NaN   05 2, 2011   AY49JOXTLDOG2
2702  B00000DMER   [2, 2]      5.0        NaN  12 28, 2008  A37PV5GMP2ILJC
4653  B00000IZKX   [0, 1]      5.0        NaN   01 5, 2012   AJGU56YG8G1DQ
8751  B00005AWB5   [2, 2]      5.0        NaN   12 8, 2012  A3C2JQC6R2K52C
8770  B00005AWB5  [7, 10]      2.0        NaN  08 29, 2012  A3FKPBNI7UWQFW

In [9]:
# Total number of rows before dropping NaN rows in 'reviewText' column

data['asin'].count()

167597

In [10]:
# Drop NaN rows in 'reviewText' column

data.dropna(subset=['reviewText'],inplace=True)

In [11]:
# Total number of rows after dropping NaN rows in 'reviewText' column (93 rows deleted)

data['asin'].count()

167504

In [12]:
# II. Convert 'reviewText' values into lowercase

# Use str.lower() to convert string into lower case and store it in a new column 'PreProcessed_reviewText'

data['PreProcessed_reviewText'] = data['reviewText'].str.lower()

In [13]:
# Verify that all values should be lower cased in 'PreProcessed_reviewText' column

data['PreProcessed_reviewText'].str.isupper().any()

False

In [14]:
# III. Remove punctuation marks from 'reviewText'

# First row with punctuation in the 'PreProcessed_reviewText' column

data.head(1)

,asin,helpful,overall,reviewText,reviewTime,reviewerID,PreProcessed_reviewText
0,0439893577,"[0, 0]",5.0,I like the item pricing. My granddaughter want...,"01 29, 2014",A1VXOAVRGKGEAK,i like the item pricing. my granddaughter want...

In [15]:
translator=str.maketrans('','',string.punctuation)
data['PreProcessed_reviewText'] = data['PreProcessed_reviewText'].str.translate(translator)

In [16]:
# First row after removing punctuation in the 'PreProcessed_reviewText' column

data.head(1)

,asin,helpful,overall,reviewText,reviewTime,reviewerID,PreProcessed_reviewText
0,0439893577,"[0, 0]",5.0,I like the item pricing. My granddaughter want...,"01 29, 2014",A1VXOAVRGKGEAK,i like the item pricing my granddaughter wante...

In [17]:
# IV. Remove words with numerical digits or no letters in 'reviewText'

# Check for numeric values in 'PreProcessed_reviewText' column

data[data['PreProcessed_reviewText'].str.isnumeric()]

Empty DataFrame
Columns: [asin, helpful, overall, reviewText, reviewTime, reviewerID, PreProcessed_reviewText]
Index: []

In [18]:
# Replace numeric values with no space in 'PreProcessed_reviewText' column

data['PreProcessed_reviewText'] = data['PreProcessed_reviewText'].str.replace('\d+', '')

In [19]:
data.head(5)

,asin,helpful,overall,reviewText,reviewTime,reviewerID,PreProcessed_reviewText
0,0439893577,"[0, 0]",5.0,I like the item pricing. My granddaughter want...,"01 29, 2014",A1VXOAVRGKGEAK,i like the item pricing my granddaughter wante...
1,0439893577,"[1, 1]",4.0,Love the magnet easel... great for moving to d...,"03 28, 2014",A8R62G708TSCM,love the magnet easel great for moving to diff...
2,0439893577,"[1, 1]",5.0,Both sides are magnetic. A real plus when you...,"01 28, 2013",A21KH420DK0ICA,both sides are magnetic a real plus when your...
3,0439893577,"[0, 0]",5.0,Bought one a few years ago for my daughter and...,"02 8, 2014",AR29QK6HPFYZ4,bought one a few years ago for my daughter and...
4,0439893577,"[1, 1]",4.0,I have a stainless steel refrigerator therefor...,"05 5, 2014",ACCH8EOML6FN5,i have a stainless steel refrigerator therefor...

In [20]:
# V. Remove 'reviewText' with very short reviews in length

# Find the average length of reviews in 'PreProcessed_reviewText' column

data_len = data['PreProcessed_reviewText'].str.len()
length = data_len.mean().round()

In [21]:
reviewText_within_lengthlimits = (data['PreProcessed_reviewText'].str.len() >= 100)

In [22]:
# Keep reviews within the limit of 100 characters in 'PreProcessed_reviewText' column

data['PreProcessed_reviewText'] = data['PreProcessed_reviewText'].loc[reviewText_within_lengthlimits]

In [23]:
# Verify that minimum length of 'PreProcessed_reviewText' column should be 100

data['PreProcessed_reviewText'].str.len().min()

100.0

In [24]:
data['PreProcessed_reviewText'].str.len().max()

31498.0

In [25]:
data.dropna(inplace=True)

In [26]:
data.to_csv('Toys_and_Games.csv',index=False)

In [27]:
df = pd.read_csv('Toys_and_Games.csv')

In [28]:
df.head(5)

,asin,helpful,overall,reviewText,reviewTime,reviewerID,PreProcessed_reviewText
0,0439893577,"[1, 1]",4.0,Love the magnet easel... great for moving to d...,"03 28, 2014",A8R62G708TSCM,love the magnet easel great for moving to diff...
1,0439893577,"[1, 1]",5.0,Both sides are magnetic. A real plus when you...,"01 28, 2013",A21KH420DK0ICA,both sides are magnetic a real plus when your...
2,0439893577,"[0, 0]",5.0,Bought one a few years ago for my daughter and...,"02 8, 2014",AR29QK6HPFYZ4,bought one a few years ago for my daughter and...
3,0439893577,"[1, 1]",4.0,I have a stainless steel refrigerator therefor...,"05 5, 2014",ACCH8EOML6FN5,i have a stainless steel refrigerator therefor...
4,0439893577,"[0, 0]",3.0,this is a nice magnetic board for the kids to ...,"05 16, 2013",A1EDPGHC9EYBUN,this is a nice magnetic board for the kids to ...