<font color='green'>**IMPORT LIBRARIES**</font>

In [0]:
import numpy as np
import pandas as pd

<font color='green'>**Read dataset obtained from preprocessing step**</font>

In [10]:
toy_data=pd.read_csv('Toys_and_Games.csv')
toy_data.head(5)

        asin  ...                            PreProcessed_reviewText
0  439893577  ...  love the magnet easel great for moving to diff...
1  439893577  ...  both sides are magnetic  a real plus when your...
2  439893577  ...  bought one a few years ago for my daughter and...
3  439893577  ...  i have a stainless steel refrigerator therefor...
4  439893577  ...  this is a nice magnetic board for the kids to ...

[5 rows x 7 columns]

In [0]:
toy_data['PreProcessed_reviewText']=toy_data['PreProcessed_reviewText'].astype(str)

<font color='green'>**Add new column 'subjectivity_score' to dataframe**</font>

In [0]:
toy_data['subjectivity_score']=0

<font color='green'>**Compute Subjectivity score for each review and store value in column 'subjectivity_score'**</font>

In [0]:
from textblob import TextBlob

In [0]:
length=len(toy_data)
for i in range(length):
  review=toy_data.iloc[i,6]
  subjectivityScore=TextBlob(review).sentiment.subjectivity
  toy_data.iloc[i,7]=subjectivityScore

In [15]:
toy_data.head(5)

        asin  ... subjectivity_score
0  439893577  ...           0.650000
1  439893577  ...           0.450000
2  439893577  ...           0.450000
3  439893577  ...           0.383333
4  439893577  ...           1.000000

[5 rows x 8 columns]

<font color='green'>**Save dataframe into same csv file so that new column will be added to it and can be used for further references**</font>

In [0]:
toy_data.to_csv('Toys_and_Games.csv',index=False)

<font color='green'>**Check if all required columns are added to csv file**</font>

In [0]:
df=pd.read_csv('Toys_and_Games.csv')

In [18]:
df.head(3)

        asin  ... subjectivity_score
0  439893577  ...               0.65
1  439893577  ...               0.45
2  439893577  ...               0.45

[3 rows x 8 columns]