<font color='green'>**IMPORT LIBRARIES**</font>

In [0]:
########################################################################################################
# IMPORT LIBRARIES
########################################################################################################
import numpy as np
import pandas as pd

<font color='green'>**Read dataset obtained from previous step where subjectivity scores are calculated**</font>

In [2]:
########################################################################################################
# Read dataset obtained from previous step where subjectivity scores are calculated
########################################################################################################
toy_data=pd.read_csv('Toys_and_Games.csv')
toy_data.head(5)

        asin  ... subjectivity_score
0  439893577  ...           0.650000
1  439893577  ...           0.450000
2  439893577  ...           0.450000
3  439893577  ...           0.383333
4  439893577  ...           1.000000

[5 rows x 8 columns]

In [0]:
toy_data['PreProcessed_reviewText']=toy_data['PreProcessed_reviewText'].astype(str)

<font color='green'>**Add new column 'flesch_index' to dataframe**</font>

In [0]:
########################################################################################################
# Add new column 'flesch_index' to dataframe
########################################################################################################
toy_data['flesch_index']=0

<font color='green'>**Compute Flesch index for each review and store value in column 'flesch_index'**</font>

In [5]:
pip install textstat

Collecting textstat
  Downloading https://files.pythonhosted.org/packages/60/af/0623a6e3adbcfda0be827664eacab5e02cd0a08d36f00013cb53784917a9/textstat-0.6.2-py3-none-any.whl (102kB)
     |████████████████████████████████| 102kB 5.9MB/s
Collecting pyphen
  Downloading https://files.pythonhosted.org/packages/15/82/08a3629dce8d1f3d91db843bb36d4d7db6b6269d5067259613a0d5c8a9db/Pyphen-0.9.5-py2.py3-none-any.whl (3.0MB)
     |████████████████████████████████| 3.0MB 40.3MB/s
Installing collected packages: pyphen, textstat
Successfully installed pyphen-0.9.5 textstat-0.6.2

In [0]:
########################################################################################################
# Compute Flesch index for each review and store value in column 'flesch_index'
########################################################################################################
import textstat
length=len(toy_data)
for i in range(length):
  review=toy_data.iloc[i,6]
  fleschIndex=textstat.flesch_kincaid_grade(review)
  toy_data.iloc[i,8]=fleschIndex

In [7]:
toy_data.head(5)

        asin helpful  ...  subjectivity_score flesch_index
0  439893577  [1, 1]  ...            0.650000          8.3
1  439893577  [1, 1]  ...            0.450000         29.4
2  439893577  [0, 0]  ...            0.450000         10.7
3  439893577  [1, 1]  ...            0.383333         18.1
4  439893577  [0, 0]  ...            1.000000         14.6

[5 rows x 9 columns]

<font color='green'>**Save dataframe into same csv file so that new column will be added to it and can be used for further references**</font>

In [0]:
########################################################################################################
# Save dataframe into same csv file so that new column will be added to it and can be used for further references
########################################################################################################
toy_data.to_csv('Toys_and_Games.csv',index=False)

<font color='green'>**Check if all required columns are added to csv file**</font>

In [0]:
########################################################################################################
# Check if all required columns are added to csv file
########################################################################################################
df=pd.read_csv('Toys_and_Games.csv')

In [10]:
df.head(3)

        asin helpful  ...  subjectivity_score flesch_index
0  439893577  [1, 1]  ...                0.65          8.3
1  439893577  [1, 1]  ...                0.45         29.4
2  439893577  [0, 0]  ...                0.45         10.7

[3 rows x 9 columns]